<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<system.serviceModel>
		<services>
			<service  name="ConverterLibrary.Converter">
				<endpoint address="net.tcp://localhost:1234/ConverterService"
						  binding="netTcpBinding"
						  contract="ConverterLibrary.IConverter"
						  name ="converterTCP">
				</endpoint>
				<endpoint address="http://localhost:4321/ConverterService"
						  binding="wsHttpBinding"
						  contract="ConverterLibrary.IConverter"
						  name="converterHTTP">
				</endpoint>
			</service>
		</services>
		<behaviors>
		<serviceBehaviors>
			<behavior>
				<!-- Передавать клиенту исключения -->
				<!--<serviceMetadata httpGetEnabled="True"/>-->
				<serviceDebug includeExceptionDetailInFaults="true"/>
			</behavior>
		</serviceBehaviors>
		</behaviors>
	</system.serviceModel>	
</configuration>